<div class="container theme-showcase">
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Re-Pocket</h1>
        <p>Let's explore in your pocket which has various unread items once you interested in.</p>
        <p>We'll show you nine articles from your pocket at random.</p>
        <p><a class="btn btn-primary btn-lg" onclick="location.reload();">Reload and read more! &raquo;</a></p>
      </div>

 <% if current_user %>
 	<div class="row">
 	<% @items.each_with_index do |item, i| %>
        <% if i%3==0 %>
        <div class="col-sm-4">  
        <% end %>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><a href="<%= item["resolved_url"] %>" class="active"target="_blank"><%= title(item) %><br>
              <span class="label label-info">Tweet:<%= item["twitter"] %></span>
              <span class="label label-default">はてな:<%= item["hatena"] %></span></a></h3>
            </div>
            <div class="panel-body">
            	<%= item["excerpt"] %>...
            </div>
          </div>
        <% if i%3==2 %>
        </div>
        <% end %>
	<% end %>
	</div>
 <% else %>
 <% end %>
</div>